*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
build
public/pma/*
nbproject/
.idea
.metadata/

#/fuel/app/config/crypt.php
#public/assets/img/
#public/assets/swf/
public/pma
labtan.dat
logs/*
